@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(158, 158, 158);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #173f63;
    border-radius: 10px;
}



/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

